version: "3.7"

services:

  nginx:
    image: nginx:1.19.5
    ports:
      - 80:80
    networks:
      - hehe_network
    volumes:
      - /home/ppangkko/nginx.conf:/etc/nginx/nginx.conf
      - hehe_static:/data/static/
      - hehe_media:/data/media/

  django:
    image: hehe:4
    networks:
      - hehe_network
    volumes:
      - hehe_static:/home/gis_django_2/staticfiles/
      - hehe_media:/home/gis_django_2/media/
    secrets:
      - DJANGO_SECRET_KEY
      - MARIADB_USER
      - MARIADB_PASSWORD

  mariadb:
    image: mariadb:10.5
    networks:
      - hehe_network
    volumes:
      - hehe_mariadb:/var/lib/mysql
    secrets:
      - MARIADB_ROOT_PASSWORD
      - MARIADB_USER
      - MARIADB_PASSWORD
    environment:
      MARIADB_ROOT_PASSWORD: pass1234
      MARIADB_DATABASE: django
      MARIADB_USER: django
      MARIADB_PASSWORD: pass1234

networks:
  hehe_network:

volumes:
  hehe_static:
  hehe_media:
  hehe_mariadb:

secrets:
  DJANGO_SECRET_KEY:
    external: true
  MARIADB_ROOT_PASSWORD:
    external: true
  MARIADB_USER:
    external: true
  MARIADB_PASSWORD:
    external: true
